<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/zep.min.css') }}"
    />
    <title>Sistema experto</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i class="bi bi-robot"></i>
          Inteligencia artificial - Sistemas expertos
        </a>
      </div>
    </nav>
    <div class="container">
      <div class="card my-3">
        <h5 class="card-header">Resultado</h5>
        <div class="card-body">
          <p class="card-text">{{ resultado.resultado }}</p>
        </div>
      </div>
      <div class="card my-3">
        <h5 class="card-header">Datos proporcionados</h5>
        <div class="card-body">
          <p class="fw-bold mb-3 border-bottom">Datos de la persona</p>

          <div class="row mb-3">
            <div class="col-md-12">
              <span class="fw-bold">Nombre:</span>
              <span>{{ resultado.nombre }}</span>
            </div>
            <div class="col-md-4">
              <span class="fw-bold">Edad:</span>
              <span>{{ resultado.edad }}</span>
            </div>
            <div class="col-md-4">
              <span class="fw-bold">Sexo:</span>
              <span>{{ resultado.sexo }}</span>
            </div>
            <div class="col-md-4">
              <span class="fw-bold">Talla:</span>
              <span>{{ resultado.talla }} m</span>
            </div>
            <div class="col-md-4">
              <span class="fw-bold">Peso:</span>
              <span>{{ resultado.peso }} kg</span>
            </div>
            <div class="col-md-4">
              <span class="fw-bold">IMC:</span>
              <span>{{ resultado.imc }} kg/m²</span>
            </div>
            <div class="col-md-4">
              <span class="fw-bold">Definicion IMC:</span>
              <span>{{ resultado.definicion_imc }}</span>
            </div>
          </div>
          <p class="fw-bold mb-3 border-bottom">Preguntas</p>
          <ol>
            {% for dato in resultado.datosProporcionados %}
            <li>
              {{ dato["pregunta"] }} -
              <span class="fw-bold"> Respuesta: </span> {{ dato["respuesta"] }}
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
